# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Excel files
*.xlsx
*.xls
*.xlsm
*.xlsb
*.xltx
*.xltm
*.csv

# Image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.svg
*.webp
*.ico
*.avif

# Compressed files
*.zip
*.rar
*.7z
*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.tbz2
*.tar.xz
*.txz
*.gz
*.bz2
*.xz
*.Z
batch-cleanup.js
batch-registration.js
batch-upload-covers.js
delete.js
fix-form-data.js
seed.js
users.json
